<mat-card class="card" mat-elevation="3">
  <mat-card-header>
    <mat-card-title>Create Account</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="registration-form"
    >
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput id="username" formControlName="userName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          id="password"
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="admin">Admin</mat-option>
          <mat-option value="physician">Physician</mat-option>
          <mat-option value="technician">Technician</mat-option>
          <mat-option value="staff">Staff</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent">Register</button>
    </form>
  </mat-card-content>
</mat-card>
